<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG">

    <test name="Example Test" preserve-order="false">
        <classes>
            <class name="naldoury_Homework17">
                <methods>
                    <include name="addSongToPlaylist" />
                </methods>
            </class>
            <class name="LoginTests"/>
            <class name="naldoury_BaseTest"/>
            <class name="registration"/>
<!--            <class name="Homework15"/>-->
<!--            <class name="Homework16"/>-->
<!--            <class name="naldoury_Homework17"/>-->
        </classes>
    </test>
</suite>

<!--<class name="RegistrationTests"/>-->
<!--<class name="ChangeUsernameTests"/>-->
